<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section>
        <div id="left-section" class="col-md-8" th:fragment="left_side">
            <div id="leftMenu" class="row pre-scrollable">

                <ul class="list-unstyled">
                    <li class="">
                        <a class="third" href="resource/html?url=system/directory" target="pageIframe">
                            目录管理
                        </a>
                    </li>
                    <li class="">
                        <a class="third" href="resource/html?url=system/test" target="pageIframe">
                            My Test Page
                        </a>
                    </li>
                    <li>
                        AAAAAAAAAA
                        <ul>
                            <li>BBBBBBBBBBBBBBBBCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCc</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                        </ul>
                    </li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>AAAAAAAAAA</li>
                    <li>
                        AAAAAAAAAA
                        <ul>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                        </ul>
                    </li>
                    <li>
                        AAAAAAAAAA
                        <ul>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                            <li>BBBBBBBBBBBBBBBB</li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </section>
</body>
</html>