
/** Header Start **/

.header {
    width: 220px;
    position: absolute;
    background: #424f63;
    top: 0;
    left: 0;
}

.sticky-header {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
}

/** Header End **/

/** Left Side Start **/

.left-side {
    width: 330px;
    position: absolute;
    background: #424f63;
    top: 0;
    left: 0;
}

.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
}

/** Left Side End **/