#header-section {
    border-right: 1px solid #dddddd;
    overflow: hidden;
}

#left-section {
    border-right: 1px solid #dddddd;
    overflow-x: hidden;
}

#leftMenu {
    padding-left: 10px;
    overflow-x: hidden;
}