<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">

<body>
<section>
    <!-- main content start-->
    <th:block layout:fragment="page_content">
        <div class="container">
            <div class="docs-content">
                <h3>新增目录</h3>

                <div class="row">

                    <div class="span3">
                        <a href="#" class="btn btn-large btn-block">Default</a>
                    </div>

                    <div class="span3">
                        <a href="#" class="btn btn-large btn-block btn-primary">Primary</a>
                    </div>

                    <div class="span3">
                        <a href="#" class="btn btn-large btn-block btn-info">Info</a>
                    </div>

                    <div class="span3">
                        <a href="#" class="btn btn-large btn-block btn-success">Success</a>
                    </div>

                </div>
                
                <p> Are you listening to your customers?</p>
                <p> 你好，我是橘子?</p>
                <p>
                    @RestController：上一篇中用于将返回值转换成json

                    @Controller：现在要返回的是一个页面，所以不能再用@RestController，而用普通的@Controller/

                    request.setAttribute("key", "hello world")：这是最基本的语法，向页面转参数 key和value。
                </p>

                <p> As they say: You cannot improve what you cannot measure; but the paradox is you
                    cannot measure everything – happiness, hatred, anger… but you can measure customer
                    satisfaction. Yes, you can measure customer satisfaction by analyzing likes and
                    dislikes of your customers. You can gauge popularity of your website or products.
                    You can also:</p>
                <ul>
                    <li>See how many visitors like the new design of your website or logo</li>
                    <li>Analyze what your readers want to see on your blog</li>
                    <li>Understand how helpful the content on your support forum or website is</li>
                    <li>Know the latest trends and user’s opinion before launching a new product or service</li>
                </ul>
                <p> Opineo allows you to do all of this and much more without signing up for an account
                    or hire an expert. This DIY tool enables you to listen to your customers’ voice
                    easily and instantly. All you have to do is go online, design your widget and place
                    it on your website. </p>
                <h3 id="benefits"> Benefits</h3>
                <ul>
                    <li>Use Opineo to conduct pre-release surveys before launching new products or services</li>
                    <li>Analyze new trends in the industry</li>
                    <li>Run crowd-sourced campaigns with Opineo to mature new ideas, website designs or
                        logos
                    </li>
                    <li>Conduct popularity surveys with free Opineo widget</li>
                    <li>Create and host polling surveys with Opineo</li>
                </ul>
            </div>
        </div>
    </th:block>
    <!-- main content end-->
</section>
   
</body>

</html>